#wrap #header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 3;
}
#wrap #header .header-row1 {
  width: 100%;
  height: 36px;
  z-index: 3;
  position: relative;
}
#wrap #header .header-row1 .container {
  width: 100%;
  height: 36px;
  max-width: 1068px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #header .header-row1 .container #aside {
  width: auto;
}
#wrap #header .header-row1 .container #aside > ul {
  width: 100%;
  display: flex;
}
#wrap #header .header-row1 .container #aside > ul li {
  font-size: 12px;
  position: relative;
  line-height: 36px;
}
#wrap #header .header-row1 .container #aside > ul li a {
  color: #333;
}
#wrap #header .header-row1 .container #aside > ul li a.on {
  color: rgb(95, 0, 128);
}
#wrap #header .header-row1 .container #aside > ul li a img {
  width: 8px;
  margin: -2px 0 0 2px;
}
#wrap #header .header-row1 .container #aside > ul li i {
  color: #ccc;
  margin: 0 10px;
}
#wrap #header .header-row1 .container #aside > ul li .custom-center {
  display: none;
  position: absolute;
  top: 36px;
  right: 0;
  background: #fff;
  width: 110px;
  border: 1px solid #ccc;
}
#wrap #header .header-row1 .container #aside > ul li .custom-center ul {
  padding: 10px 15px;
}
#wrap #header .header-row1 .container #aside > ul li .custom-center ul li {
  line-height: 170%;
}
#wrap #header .header-row2 {
  width: 100%;
  height: 64px;
  z-index: 2;
  position: relative;
}
#wrap #header .header-row2 .container {
  width: 100%;
  height: 64px;
  max-width: 1068px;
  margin: 0 auto;
  padding: 0 9px;
  display: flex;
}
#wrap #header .header-row2 .container .left {
  width: 325px;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #header .header-row2 .container .left a:nth-child(1) {
  color: rgb(95, 0, 128);
  font-size: 18px;
  font-weight: 500;
}
#wrap #header .header-row2 .container .left a:nth-child(1) img {
  margin: 0 15px 0 0;
}
#wrap #header .header-row2 .container .left a:nth-child(3) {
  color: #ccc;
  font-size: 18px;
  font-weight: 500;
}
#wrap #header .header-row2 .container .left a:nth-child(3):hover {
  color: rgb(95, 0, 128);
}
#wrap #header .header-row2 .container .left a:nth-child(3) img {
  margin-top: -13px;
}
#wrap #header .header-row2 .container .left span {
  margin: 0 10px;
  color: #ccc;
  font-size: 18px;
  display: inline-flex;
  height: 18px;
}
#wrap #header .header-row2 .container .left span i {
  margin: -3px 0 0 5px;
}
#wrap #header .header-row2 .container .center {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#wrap #header .header-row2 .container .center #search {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 48px;
  border: 1px solid rgb(95, 0, 128);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 15px;
  outline: 0;
}
#wrap #header .header-row2 .container .center a {
  z-index: 2;
  position: absolute;
  top: 17px;
  right: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrap #header .header-row2 .container .center a img {
  width: 35px;
}
#wrap #header .header-row2 .container .right {
  width: 325px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#wrap #header .header-row2 .container .right a {
  margin: 0 0 0 17px;
}
#wrap #header .header-row2 .container .right a:last-child {
  margin-right: -8px;
}
#wrap #header .header-row2 .container .right a img {
  width: auto;
}
#wrap #header .header-row2 .container .right .map-tooltip {
  display: none;
  position: absolute;
  top: 60px;
  left: 16%;
  width: 270px;
  border: 1px solid #ddd;
  padding: 20px;
  background: #fff;
}
#wrap #header .header-row2 .container .right .map-tooltip::before {
  content: "";
  background: url(../img/try_angle.svg) no-repeat 50% 0;
  position: absolute;
  top: -11px;
  left: 55%;
  width: 18px;
  height: 11px;
}
#wrap #header .header-row2 .container .right .map-tooltip .text-box span {
  color: rgb(95, 0, 128);
  line-height: 170%;
  padding: 0 0 10px 0;
}
#wrap #header .header-row2 .container .right .map-tooltip .button-box {
  padding: 10px 0 0 0;
  width: 100%;
  display: flex;
}
#wrap #header .header-row2 .container .right .map-tooltip button {
  width: 50%;
  height: 38px;
  cursor: pointer;
}
#wrap #header .header-row2 .container .right .map-tooltip button:nth-child(1) {
  width: 30%;
  background: #FFF;
  color: #333;
  border: 1px solid #ccc;
}
#wrap #header .header-row2 .container .right .map-tooltip button:nth-child(2) {
  width: 70%;
  margin: 0 0 0 10px;
  background: rgb(95, 0, 128);
  color: #fff;
  border: 1px solid rgb(95, 0, 128);
}
#wrap #header .header-row2 .container .right .map-tooltip button img {
  width: 20px;
  margin-top: -3px;
}
#wrap #header .header-row3 {
  width: 100%;
  height: 56px;
  z-index: 1;
  position: relative;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
}
#wrap #header .header-row3 .container {
  width: 100%;
  max-width: 1068px;
  height: 100%;
  margin: 0 auto;
  padding: 0 9px;
  display: flex;
}
#wrap #header .header-row3 .container .left {
  width: 225px;
  height: 100%;
}
#wrap #header .header-row3 .container .left a {
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #header .header-row3 .container .left a img {
  width: auto;
}
#wrap #header .header-row3 .container .left a span {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin: 0 0 0 10px;
}
#wrap #header .header-row3 .container .center {
  width: 600px;
  height: 100%;
}
#wrap #header .header-row3 .container .center nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#wrap #header .header-row3 .container .center nav a {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
#wrap #header .header-row3 .container .center nav a:hover {
  color: rgb(95, 0, 128);
  text-decoration: underline;
}
#wrap #header .header-row3 .container .right {
  width: 225px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#wrap #header .header-row3 .container .right a {
  padding: 7px 15px;
  border: 1px solid #ccc;
  font-size: 13px;
  border-radius: 14.5px;
}
#wrap #header .header-row3 .container .right a span {
  color: rgb(95, 0, 128);
  margin: 0 5px 0 0;
  font-weight: 500;
}
#wrap #header.on .header-row3 {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}