#wrap {
    width:100%;
    #sub {
        width:100%;
        #section1 {
            width:100%;
            padding:0 0 50px 0;
          .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .gap {
                width:100%;
                padding:0 9px;
                .title {
                    width:100%;
                    h2 {
                        font-size: 20px;
                        text-align: center;
                    }
                }
                .content {
                    width:100%;
                    a {
                        display: block;
                        width:100%;
                        img {
                            width:100%;
                        }
                    }
                }
            }
          }  
        }
        #section2 {
            width:100%;
            padding:0 0 70px 0;
          .container {
            width:100%;
            max-width: 1068px;
            margin: 0 auto;
            .gap {
                width:100%;
                padding:0;
                .title {
                    width:100%;
                    padding:0 0 50px 0;
                    h2 {
                        font-size: 28px;
                        text-align: center;
                        color:#333;
                    }
                }
                .content {
                    width:100%;
                    display: flex;
                    .left {
                        width: 100% / 4 * 1;
                        // width: 249px;
                        position: sticky; /* 스크롤 탑값이 70픽셀에 도달하면 고정 fixed */
                        top: 85px;
                        left:0;
                        height: 100vh;  /* 스티키는 반드시 높이를 잡는다 */
                        .left-header {
                            width:100%;
                            padding:0 28px 27px 9px;
                            display: flex;
                            justify-content: space-between;
                            span {
                                font-size: 14px;
                                color:#999;
                                &:first-child {
                                    font-size: 15px;
                                    font-weight: 500;
                                    color:#333; 
                                }
                            }
                        }
                        .left-content {
                            width:100%;
                            height:100%;
                            padding: 0 28px 100px 9px;
                            overflow-y: auto; /* 영역을 오버하는 부분 스크롤바 보인다. */
                            &::-webkit-scrollbar {  /* 스크롤바 너비 설정 */
                                width: 0;
                            }                            
                            &::-webkit-scrollbar-track {  /* 스크롤바 트랙 */
                                background: #f7f7f7;
                            }
                            &::-webkit-scrollbar-thumb {  /* 스크롤바 트랙 바 */
                                background: #ddd;
                            }

                            ul {
                                width:100%;
                                li {
                                    width:100%;
                                    border-top:1px solid #ddd;                                    
                                    &:last-child {border-bottom:1px solid #ddd;}
                                    a {
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between; 
                                        width:100%;  
                                        height: 52px;                                      
                                        span {                                            
                                            font-size: 15px;
                                            font-weight: 500;
                                            color:#333;
                                        } 
                                        svg {
                                            width:18px;
                                            height:18px;
                                            transform: rotate(0deg);
                                            transition: all 0.3s;
                                            &.on {
                                                transform: rotate(180deg);
                                            }
                                        } 
                                    }
                                    .sub {
                                        ul {
                                            li {
                                                border:0;
                                                padding:7px 0;
                                                label {
                                                    cursor: pointer;
                                                    font-size: 14px;
                                                    color:#666;
                                                    input[type='checkbox'] {
                                                        width:18px;
                                                        height:18px;
                                                        margin:0 10px 0 0;
                                                        background:url(../img/check_off.svg) no-repeat 50% 50%;
                                                        background-size:18px 18px;
                                                        border:0;
                                                        appearance: none;
                                                        &:checked {
                                                            background-image: url(../img/check_on.svg);  
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        span {
                                            display: block;
                                            padding: 20px 0;
                                            width:100%;                                            
                                            button {
                                                width:100%;
                                                color:#999;
                                                font-size: 12px;
                                                background: none;
                                                border:0;
                                                cursor: pointer;
                                                svg {
                                                    transform: rotate(90deg);
                                                    margin-top:-3px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right {
                        width: 100% / 4 * 3;
                        // width: 783px;
                        padding: 0 9px;
                        .right-header {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            padding:0 9px 20px 9px;
                            span {
                                font-size: 14px;
                                &:nth-child(1) {
                                  color:#333;    
                                }
                                a {
                                    color:#999;
                                    margin:0 0 0 15px;
                                    &:hover {
                                        color:#333;
                                    }
                                    &.on {
                                        color:#333;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                        .right-content {
                            width:100%;
                            ul {
                                width:100%;
                                display: flex;
                                flex-flow: row  wrap;
                                li {
                                    width: 33.333%;
                                    .col-gap {
                                        margin:0 9px 50px 9px;cursor: pointer;
                                        .img-box {
                                            width:100%;position: relative;
                                            overflow: hidden;
                                            > img {
                                                width:100%;z-index: 1;position: relative;
                                                transition: all 0.6s;
                                                &:hover {
                                                    transform: scale(1.1);
                                                }
                                            }
                                            > span {
                                                width:45px;height:45px;z-index: 2;position: absolute;bottom:15px;right:15px;
                                                img {
                                                    width:100%;
                                                }
                                            }
                                        }
                                        .txt-box {
                                            padding:20px 0 0 0;line-height:140%;
                                            h2 {
                                                font-size: 16px;
                                            }
                                            h3 {
                                                font-size: 16px;padding:10px 0;font-weight:600;
                                                em {
                                                    color:#333;
                                                }
                                                strong {
                                                    color:#fa622f;margin:0 10px 0 0;     
                                                }
                                            }
                                            h4 {
                                                font-size: 14px;
                                                s {
                                                    color:#bbb;
                                                }
                                            }
                                            h5 {
                                                font-size: 12px;padding:10px 0;color:#bbb;
                                                span {
                                                    color:#bbb;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
          }  
        }     
    }


    .sub1-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         background: rgba(0,0,0, 0.5);
         z-index: 5;
         display: none;
         align-items: center;
         justify-content: center;
         &.on{
            display: flex;
         }
         .container {           
            width: 780px;
            height: 540px;
             background: #fff;
             border-radius: 15px;
             padding:30px;
             .content {
                width:100%;
                height:100%;
                position: relative;
                .title {
                    display: flex;
                    padding:0 0 30px 0;
                    align-items: center;
                    h2 {
                        font-size: 24px;
                        font-weight: 500;
                        margin:0 15px 0 0;
                    }
                    a {
                        font-size:14px;
                        color:#333;
                        margin:0 10px;
                        &.on {
                            color: rgb(95,0,128);
                        }
                    }
                }               
                ul {
                    display: flex;
                    flex-flow: row wrap;
                    li {
                        width:33.333%;
                        padding: 7px 0;
                        label {
                            cursor: pointer;
                            font-size: 14px;
                            color:#666;
                            user-select: none;
                            input[type='checkbox'] {
                                width:18px;
                                height:18px;
                                margin:0 10px 0 0;
                                background:url(../img/check_off.svg) no-repeat 50% 50%;
                                background-size:18px 18px;
                                border:0;
                                appearance: none;
                                &:checked {
                                    background-image: url(../img/check_on.svg);  
                                }
                            }
                        }
                    }
                }

                .button-box {
                    position: absolute;
                    bottom:0;
                    width: 100%;
                    text-align: center;
                    button {
                        width:140px;
                        height: 44px;
                        background: #fff;  
                        border:3px;     
                        color:#333;
                        border:1px solid #333;  
                        cursor: pointer; 
                        margin:0 2px;              
                        &:last-child{
                            background: rgb(95,0,128);;
                            border:1px solid rgb(95,0,128);
                            color:#fff;
                        }
                    }
                }

                .modal-close-btn {
                    position: absolute;
                    right:0;
                    top:0;
                    width:32px;
                    height: 32px;
                    background: transparent;
                    cursor: pointer;
                    border:0;
                }
             }
         }
    }
}